# Aasimar
Gender,random,Ability Scores,Average,Race,Aasimar,Fallen,
Gender,random,Ability Scores,Average,Race,Aasimar,Scourge,
Gender,random,Ability Scores,Average,Race,Aasimar,Protector,
# Bugbear tests
Gender,random,Ability Scores,Average,Race,Bugbear,
# Centaur tests
Gender,random,Ability Scores,Average,Race,Centaur,Nature,
# Dragonborn
Gender,random,Ability Scores,Average,Race,Dragonborn,Amethyst,
Gender,random,Ability Scores,Average,Race,Dragonborn,Black,
Gender,random,Ability Scores,Average,Race,Dragonborn,Blue,
Gender,random,Ability Scores,Average,Race,Dragonborn,Brass,
Gender,random,Ability Scores,Average,Race,Dragonborn,Bronze,
Gender,random,Ability Scores,Average,Race,Dragonborn,Brown,
Gender,random,Ability Scores,Average,Race,Dragonborn,Copper,
Gender,random,Ability Scores,Average,Race,Dragonborn,Crystal,
Gender,random,Ability Scores,Average,Race,Dragonborn,Emerald,
Gender,random,Ability Scores,Average,Race,Dragonborn,Gold,
Gender,random,Ability Scores,Average,Race,Dragonborn,Gray,
Gender,random,Ability Scores,Average,Race,Dragonborn,Green,
Gender,random,Ability Scores,Average,Race,Dragonborn,Platinum,
Gender,random,Ability Scores,Average,Race,Dragonborn,Red,
Gender,random,Ability Scores,Average,Race,Dragonborn,Sapphire,
Gender,random,Ability Scores,Average,Race,Dragonborn,Silver,
Gender,random,Ability Scores,Average,Race,Dragonborn,Steel,
Gender,random,Ability Scores,Average,Race,Dragonborn,Topaz,
Gender,random,Ability Scores,Average,Race,Dragonborn,White,
# Dragonkin
Gender,random,Ability Scores,Average,Race,Dragonkin,
# Dwarves
Gender,random,Ability Scores,Average,Race,Dwarf,random,Dark,
Gender,random,Ability Scores,Average,Race,Dwarf,random,Ember,
Gender,random,Ability Scores,Average,Race,Dwarf,random,Hill,
Gender,random,Ability Scores,Average,Race,Dwarf,random,Mountain,
Gender,random,Ability Scores,Average,Race,Dwarf,random,Stone,
Gender,random,Ability Scores,Average,Race,Dwarf,random,Tundra,
Gender,random,Ability Scores,Average,Race,Dwarf,random,Warding,
# Elves
Gender,random,Ability Scores,Average,Race,Elf,Bright,CHA,light,
Gender,random,Ability Scores,Average,Race,Elf,Dark,
Gender,random,Ability Scores,Average,Race,Elf,Fey,
Gender,random,Ability Scores,Average,Race,Elf,High,
Gender,random,Ability Scores,Average,Race,Elf,Sea,
Gender,random,Ability Scores,Average,Race,Elf,Shadow,
Gender,random,Ability Scores,Average,Race,Elf,Shadowmark,
Gender,random,Ability Scores,Average,Race,Elf,Wild,
Gender,random,Ability Scores,Average,Race,Elf,Winged,
Gender,random,Ability Scores,Average,Race,Elf,Wood,
# Genasi tests
Gender,random,Ability Scores,Average,Race,Genasi,Medium,random,random,random,Air,random,
Gender,random,Ability Scores,Average,Race,Genasi,Medium,random,random,random,Earth,random,
Gender,random,Ability Scores,Average,Race,Genasi,Medium,random,random,random,Fire,random,
Gender,random,Ability Scores,Average,Race,Genasi,Medium,random,random,random,Water,random,
# Githyanki tests
Gender,random,Ability Scores,Average,Race,Githyanki,random,
# Githzerai tests
Gender,random,Ability Scores,Average,Race,Githzerai,
# Gnolls
Gender,random,Ability Scores,Average,Race,Gnoll,
# Gnomes
Gender,random,Ability Scores,Average,Race,Gnome,Dark,
Gender,random,Ability Scores,Average,Race,Gnome,Deep,
Gender,random,Ability Scores,Average,Race,Gnome,Forest,
Gender,random,Ability Scores,Average,Race,Gnome,Rock,
Gender,random,Ability Scores,Average,Race,Gnome,Scribing,
# Goblins
Gender,random,Ability Scores,Average,Race,Goblin,
# Half-Dragons
Gender,random,Ability Scores,Average,Race,Half-Dragon,Medium,Red,
# Half-Elves
Gender,random,Ability Scores,Average,Race,Half-Elf,Bright,CHA,light,
Gender,random,Ability Scores,Average,Race,Half-Elf,Dark,
Gender,random,Ability Scores,Average,Race,Half-Elf,Fey,
Gender,random,Ability Scores,Average,Race,Half-Elf,High,
Gender,random,Ability Scores,Average,Race,Half-Elf,Sea,
Gender,random,Ability Scores,Average,Race,Half-Elf,Shadow,
Gender,random,Ability Scores,Average,Race,Half-Elf,Shadowmark,
Gender,random,Ability Scores,Average,Race,Half-Elf,Wild,
Gender,random,Ability Scores,Average,Race,Half-Elf,Winged,
Gender,random,Ability Scores,Average,Race,Half-Elf,Wood,
# Half-Ogres
# Half-Orcs
Gender,random,Ability Scores,Average,Race,Half-Orc,Finding,
Gender,random,Ability Scores,Average,Race,Half-Orc,None,
# Halflings
Gender,random,Ability Scores,Average,Race,Halfling,Healing,
Gender,random,Ability Scores,Average,Race,Halfling,Hospitality,
Gender,random,Ability Scores,Average,Race,Halfling,Jungle,
Gender,random,Ability Scores,Average,Race,Halfling,Lightfoot,
Gender,random,Ability Scores,Average,Race,Halfling,River,
Gender,random,Ability Scores,Average,Race,Halfling,Stout,
# Hobgoblins
Gender,random,Ability Scores,Average,Race,Hobgoblin,
# Humans
Gender,random,Ability Scores,Average,Race,Human,random,random,random,random,None,
# Kenku
Gender,random,Ability Scores,Average,Race,Kenku,random,random,
# Kobolds
Gender,random,Ability Scores,Average,Race,Kobold,STR,STR,STR,Defiance,
Gender,random,Ability Scores,Average,Race,Kobold,STR,STR,STR,Sorcery,
Gender,random,Ability Scores,Average,Race,Kobold,STR,STR,STR,Ferocity,
Gender,random,Ability Scores,Average,Race,Kobold,STR,STR,STR,Craftiness,Arcana,
# Lizardfolk
Gender,random,Ability Scores,Average,Race,Lizardfolk,Nature,Stealth,
# Merfolk
# Minotaurs
Gender,random,Ability Scores,Average,Race,Minotaur,
# Orc
Gender,random,Ability Scores,Average,Race,Orc,
# Reborn
Gender,random,Ability Scores,Average,Race,Reborn,
# Sahuagin
Gender,random,Ability Scores,Average,Race,Sahuagin,
# Siren
Gender,random,Ability Scores,Average,Race,Siren,
# Spirit Folk
Gender,random,Ability Scores,Average,Race,Spirit Folk,random,Bamboo,
Gender,random,Ability Scores,Average,Race,Spirit Folk,random,Mountain,
Gender,random,Ability Scores,Average,Race,Spirit Folk,random,River,
Gender,random,Ability Scores,Average,Race,Spirit Folk,random,Sea,
# Tabaxi
Gender,random,Ability Scores,Average,Race,Tabaxi,
# Tieflings
Gender,random,Ability Scores,Average,Race,Tiefling,Asmodeus,
Gender,random,Ability Scores,Average,Race,Tiefling,Baalzebul,
Gender,random,Ability Scores,Average,Race,Tiefling,DevilsTongue,
Gender,random,Ability Scores,Average,Race,Tiefling,Dispater,
Gender,random,Ability Scores,Average,Race,Tiefling,Fierna,
Gender,random,Ability Scores,Average,Race,Tiefling,Glasya,
Gender,random,Ability Scores,Average,Race,Tiefling,Levistus,
Gender,random,Ability Scores,Average,Race,Tiefling,Mammon,
Gender,random,Ability Scores,Average,Race,Tiefling,Mephistopheles,
Gender,random,Ability Scores,Average,Race,Tiefling,Winged,
Gender,random,Ability Scores,Average,Race,Tiefling,Zariel,
# Tortle
Gender,random,Ability Scores,Average,Race,Tortle,
# Triton
Gender,random,Ability Scores,Average,Race,Triton,
# YuanTi
Gender,random,Ability Scores,Average,Race,Yuan-Ti,
